<html>
    <head>
      <title>Blog Kingi</title>
    </head>
    <body>
      <div>
        <h1> Django Girls' Blog </h1>
      </div>
      <div>
        <p> Django – wolny i otwarty framework przeznaczony do tworzenia aplikacji internetowych, napisany w Pythonie. <br /> Powstał pod koniec 2003 roku jako ewolucyjne rozwinięcie aplikacji internetowych, tworzonych przez grupę programistów związanych z Lawrence Journal-World. <br /> W 2005 roku kod Django został wydany na licencji BSD[2]. Nazwa frameworku pochodzi od gitarzysty Django Reinhardta.</p>
              </div>
      <div>
    <strong><p>Hej!</p>
    <p>Działa!</p> </strong> </div>
    <div>
      <h2> Cechy Django:</h2>
      <ul><li>Automatycznie generowany i kompletny panel administracyjny, z możliwością dalszego dostosowywania</li><li>Przyjazne adresy dokumentów z możliwością dowolnego ich kształtowania</li><li>Prosty lecz funkcjonalny system szablonów czytelny zarówno dla grafików jak i dla programistów</li><li>Oddzielenie logiki aplikacji (widok), logiki biznesowej (model), wyglądu (szablony) oraz baz danych</li></ul>
    </div>
  </body>
  </html>
